<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <style>
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu:wght@700&display=swap');
body {
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvx7xdEr84qBkuAXMkg2e92RTLudKdhBBxeVp92o6icg4eO1ro-LRSFGre78yRYV_Y9aI&usqp=CA');
    background-repeat: no-repeat; */
    /* background: linear-gradient(90deg, rgb(44, 1, 42) 0%, rgb(13, 1, 29) 35%); */
  background-color: rgb(8, 8, 32);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}


button {
  background-color: #621967;
  color: white;
  padding: 14px 20px;
 margin-top: 50px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  height: 50px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;

}

button:hover {
  opacity:1;
}
.container{
  /* background-image: linear-gradient(rgb(15, 14, 15),rgb(72, 20, 77),);  */
  width: 450px;
  height: 530px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px ;
  box-shadow: 0px 0px 5px #cf57da;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  font-family: 'Montserrat', sans-serif;
}
input[type=text], input[type=password]{
  width: 300px;
  height: 40px;
  border-bottom: 2px solid white;
  background-color: black;
  border: none;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  /* border-bottom: 1px solid #cf57da; */
}
input{
  color: aliceblue;
  font-size: large;
}
input[type=text]:checked, input[type=password]:checked{
  border-bottom: 2px solid rgb(148, 86, 159);
}
input[type=text]:hover, input[type=password]:hover{
  border-bottom: 2px solid rgb(148, 86, 159);
}

input[type=text]:focus, input[type=password]:focus {

color: #ffffff;
background-color: #100f0f;
border: 3px solid #cf57da;
outline: 0;
box-shadow: none;
border-radius: 5px;
box-shadow: 0px 0px 5px #cf57da;
}
h1{
            background-image: linear-gradient(rgb(175, 113, 175),rgb(72, 18, 75)); 
            background-repeat: repeat; 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
            font-size: 100px; 
            font-weight: bold; 
            font-weight: 800; 
}
.first{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cap{
  color: #ffffff;
  font-size: 23px;
  text-shadow: 0px 0px 10px #cf57da;
}
a{
  color: #cf57da;
}
</style></head>

<body>
<div align="center">
<h1 align="center">
  Sign UP TouristaMate 
</h1>
<p class="cap">Create Your TouristaMate Account and Dive Into Travel Bliss!</p>
</div>
<form action="/signupsubmit" method="GET">
    <div class="container">
      <div class="first">
    <p><i class="fa-solid fa-user"></i></p><input type="text" placeholder="First Name" name="first_name" required></div>
    <div class="first">
    <p><i class="fa-solid fa-user"></i></p><input type="text" placeholder="Last Name" name="last_name" required></div>
      <div class="first">
        <p><i class="fa-solid fa-envelope"></i></p><input type="text" placeholder="Email" name="email" required></div>
    <div class="first">
      <p><i class="fa-solid fa-lock"></i></p><input type="password" placeholder="Password" name="psw" required></div>
    <div class="first">
      <p><i class="fa-solid fa-lock"></i></p><input type="password" placeholder="Repeat Password" name="psw_repeat" required></div>
    
    

    <button type="submit" class="signupbtn">Sign Up</button>
  </div>
  <p>Already have an account?<a href="http://localhost:4000/login"> Signin here</a></p>
</form>

</body>
</html>
