<html>
<head>
    <style>
          @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu:wght@700&display=swap');
          html, body {
  background-color: rgb(8, 8, 32);
            background-size: cover;
            background-repeat: no-repeat;
            color:aliceblue;
            font-family: 'Montserrat', sans-serif;

        }
        button {
            background-color: #000000;
            color: white;
            padding: 20px 0px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            /* width: 80%; */
            opacity: 0.9;
            width: 200px;
            height: 50px;
            border-radius: 15px;
            font-family: 'Montserrat', sans-serif;
            box-shadow: 0px 0px 5px rgb(192, 75, 192);
            border: 2px solid rgb(199, 88, 199);
        }
        button:hover{
            /* width: 220px;
            height: 55px; */
            background-color:rgb(199, 88, 199);
            color: #000000;
            font-weight: bolder;
            border: none;
        }
        .container {
            width: 300px;
            height: 400px;
            padding: 50px;
            color: rgb(27, 1, 19);
            text-align: center;
        }
        .imgcontainer {
            text-align: center;
        }
        img.avatar {
            width: 40%;
            border-radius: 50%;
        }
        .opt{
            color: rgb(255, 240, 253)240, 254);
        }
        .main{
            height: 400px;
        }
        .explore{
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvx7xdEr84qBkuAXMkg2e92RTLudKdhBBxeVp92o6icg4eO1ro-LRSFGre78yRYV_Y9aI&usqp=CAU'); 
            background-repeat: repeat; 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
            font-size: 150px; 
            text-align: center; 
            font-weight: bold; 
            font-weight: 800; 
        }
        p{
            color: rgb(181, 121, 173);
        }
        .wid{
            width: 1550px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 600px;
        }.title{
            margin-top: 90px;
        }
    </style>
</head>

<body>
    <div class="wid">    
    <div class="title">
        <h1 class="explore">TouristaMate</h1>
    </div>
    <div class="main">
        <div class="container">
            <div class="imgcontainer">
                <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" alt="Avatar" class="avatar">
              </div>

        <p>Life is short, the world is wide. Let's explore it side by side. 🌏❤️</p>
        

        <a href="http://localhost:4000/signup">
            <button>Sign Up</button>
        </a>        
            
        <div>
            <a href="http://localhost:4000/login">
                <button>Login</button>
            </a>
        </div>
        </div>
    </div>
</div>
</body>
</html>
